# Archivos temporales que no vamos a querer
*.jou
*.log
*.str
*.pb
*.wdb
*.tmp
*.os

#Carpetas de compilación y simulación, no las ponenmos porque ocupan mucho espacio
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/
.Xil/

# bitstream
*.bit
*.bin

# Otros
usage_statistics_webtalk.xml
usage_statistics_webtalk.html
